<table border="1">
  <tr>
    <td></td>
    <td>PRODUTO ID</td>
    <td>PRODUTO NOME</td>
    <td>BRAND</td>
</tr>
<% while @i<@count
    @z = 0
    while @z<50
      @produtoID   = @response[@i][@z]["productId"]
      @produtoNome = @response[@i][@z]["productName"]
      @brand       = @response[@i][@z]["brand"]
%>
      <tr>
        <td><%= @linha %></td>
        <td><%= @produtoID %></td>
        <td><%= @produtoNome %></td>
        <td><%= @brand %></td>
      </tr>
<%
    @z = @z+1
    end
  @i = @i+1
  end
%>
</table>
