<table border="1">
  <tr>
    <td></td>
    <td>PRODUTO ID</td>
    <td>PRODUTO NOME</td>
    <td>BRAND</td>
</tr>
<%
@linha=1
while @i<@CONTADOR
  @z = 0

  while(@z<50)

    @produtoID   = @teste[@z]["productId"]
    @produtoNome = @teste[@z]["productName"]
    @brand       = @teste[@z]["brand"]

%>
    <tr>
      <td><%=@linha%></td>
      <td><%= @produtoID %></td>
      <td><%=@produtoNome %></td>
      <td><%=@brand%></td>
    </tr>
<%
  @z = @z+1
  @linha = @linha+1

  end
@i = @i+1
end
%>
</table>
