<table border="1">
  <tr>
    <td>FOSSIL</td>
    <td>TIMEX</td>
    <td>SCHUMANN</td>
  </tr>
  <tr>
    <td><%= @fossil.count>0?   "OK":"NO" %></td>
    <td><%= @timex.count>0?    "OK":"NO" %></td>
    <td><%= @schumann.count>0? "OK":"NO" %></td>
  </tr>
</table>
