<table border="1">
  <tr>
    <td>FOSSIL</td>
    <td>TIMEX</td>
    <td>SCHUMANN</td>
    <td>ADMIN</td>
  </tr>
  <tr>
    <td><%= @proFossil?   "OK" : "NO" %></td>
    <td><%= @proTimex?    "OK" : "NO" %></td>
    <td><%= @proSchumann? "OK" : "NO" %></td>
    <td><%= @admin.count>0? @admin[0].email : "Nenhum" %></td>
  </tr>
</table>
